.values{
  padding: 40px 0;

  .line{
    @extend %line;
    @include line-content(secondary);
  }

  h3{
    font-size: 35px;
  }
}

@media (max-width: 800px){
  .values{
    text-align: center;
  }
}
