@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --primary-orange: hsl(26, 100%, 55%);
  --primary-pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white:  hsl(0, 0%, 100%);
  --black-opacity: rgba(0,0,0,0.45);
}

body{
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  display: block;
}

img{
  width: 100%;
  border-radius: 10px;
}

span{
  display: block;
}

.container{
  max-width: 1100px;
  margin: 0 auto;
}

/* Header */

.header{
  padding: 30px;
}

.header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid var(--light-grayish-blue);
}

.logo-menu,
.profile-shopping{
  display: flex;
  align-items: center;
  gap: 40px;
  margin-bottom: 25px;
}

.logo-menu .menu-hamburguer,
.logo-menu .icon-close{
  display: none;
}

.logo-menu .menu ul{
  display: flex;
  gap: 10px;
}

.logo-menu .menu a{
  color: var(--dark-grayish-blue);
  font-size: 0.9em;
  padding: 10px;
}

.logo-menu .menu ul li a:hover{
  border-bottom: 2px solid orange;
}

.profile-shopping .avatar{
  width: 45px;
}

.profile-shopping .avatar:hover{
  border: 2px solid var(--primary-orange);
  border-radius: 50%;
}

.profile-shopping > div:first-child,
.profile-shopping > div:last-child{
  position: relative;
}

.profile-shopping .cart-itens{
  position: absolute;
  width: 18px;
  height: 18px;
  top: -10px;
  left: 15px;
  border-radius: 50%;
  background-color: var(--primary-orange);
  font-size: 0.7em;
  text-align: center;
  line-height: 18px;
}

.profile-shopping .view-itens{
  position: absolute;
  width: 250px;
  min-height: 150px;
  background-color: var(--light-grayish-blue);
  right: 0;
  top: 30px;
  display: none;
  padding: 20px;
}

.profile-shopping .view-itens .itens-cart{
  display: none;
  grid-template-columns: 1fr 3fr 20px;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.profile-shopping .view-itens .itens-cart img:first-child{
  width: 50px;
}

.profile-shopping .view-itens .itens-cart img:last-child{
  width: 20px;
  cursor: pointer;
}

.profile-shopping .view-itens .itens-cart span{
  font-size: 0.8em;
}

.profile-shopping .view-itens .itens-cart .information-item{
  display: flex;
  gap: 10px;
  font-size: 0.8em;
  margin-top: 10px;
}

.profile-shopping .view-itens .itens-cart .information-item .price-item-cart{
  font-weight: bold;
  font-size: 0.9em;
}

.profile-shopping .view-itens button{
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background-color: var(--primary-orange);
  color: var(--white);
  border: 0;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  display: none;
}

.profile-shopping .view-itens .itens-cart.open-cart{
  display: grid;
}

.profile-shopping .view-itens button.open-checkout{
  display: block;
}


.profile-shopping .view-itens h3{
  border-bottom: 1px solid var(--black-opacity);
  padding: 5px;
  font-size: 0.9em;
}

.profile-shopping .view-itens p{
  text-align: center;
  margin-top: 20px;
}

.profile-shopping > div:first-child:hover .view-itens{
  display: block;
}


/* Product-Showcase */

.product-showcase{
  padding: 30px;
}

.product-showcase .container{
  max-width: 1000px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.product-showcase .product-description{
  margin-left: 10%;
}

.product-showcase .product-description h3{
  color: var(--primary-orange);
  margin-bottom: 10px;
}

.product-showcase .product-description h1{
  font-size: 2.5em;
  margin-bottom: 25px;
}

.product-showcase .product-description p{
  color: var(--dark-grayish-blue);
  line-height: 24px;
  margin-bottom: 25px;
}

.product-showcase .product-description .price-discount{
  display: flex;
  align-items: center;
  gap: 15px;
}


.product-showcase .product-description .price-discount .price{
  font-size: 1.5em;
  font-weight: 700;
}

.product-showcase .product-description .price-discount .discount{
  color: var(--primary-orange);
  padding: 5px;
  background-color: var(--primary-pale-orange);
  border-radius: 5px;
  font-weight: 700;
}

.product-showcase .product-description  > span{
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 0.9em;
  color: var(--grayish-blue);
  text-decoration: line-through;
}

.product-showcase .product-description .amount-add-card{
  display: flex;
  gap: 20px;
}

.product-showcase .product-description .amount-add-card .amount{
  background-color: var(--light-grayish-blue);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex: 1;
  justify-content: space-between;
  padding: 5px;
  border-radius: 8px;
}

.product-showcase .product-description .amount-add-card .amount img,
.product-showcase .product-description .amount-add-card .add-cart img{
  width: 15px;
  cursor: pointer;
}

.product-showcase .product-description .amount-add-card .add-cart{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--primary-orange);
  border: 0;
  outline: 0;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

.product-showcase .main-image{
  cursor: pointer;
}

.images-thumbnail{
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.images-thumbnail img:hover{
  border: 3px solid var(--primary-orange);
  opacity: 0.6;
}


/* Modal */


.modal{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--black-opacity);
  display: none;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
}

.modal.open-modal{
  display: flex;
}

.modal .container{
  width: 350px;
  height: 350px;
  position: relative;
}

.modal .icon-close{
  width: 20px;
  position: absolute;
  top: -30px;
  right: 0;
  cursor: pointer;
}



@media (max-width: 780px){

  .logo-menu{
    display: block;
  }

  .logo-menu .logo{
    margin-top: 20px;
  }
  
  .logo-menu .menu-hamburguer,
  .logo-menu .icon-close{
    display: block;
    cursor: pointer;
  }

  .logo-menu .icon-close{
    width: 20px;
  }

  .logo-menu .menu ul{
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: var(--white);
    height: 100vh;
    width: 50vw;
    padding: 20px;
  }

  .logo-menu .menu ul.open-menu{
    display: block;
  }

  .logo-menu ul li{
    margin: 30px 0;
  }

  .logo-menu .menu ul li a{
    padding: 0;
    font-weight: 700;
  }

  .logo-menu .menu ul li a:hover{
    border-bottom: 0;
  }

  .product-showcase .container{
    grid-template-columns: 1fr;
  }

  .product-showcase .product-description{
    margin-left: 0;
    margin-top: 30px;
    padding: 30px;
  }

  .product-showcase .images-thumbnail{
    display: none;
  }

  .product-showcase .product-description .amount-add-card{
    flex-direction: column;
  }

  .product-showcase .product-description  > span{
    display: inline-block;
  }

  .product-showcase{
    padding: 0;
  }

  .product-showcase .main-image{
    border-radius: 0;
  }

  .modal .images-thumbnail{
    display: none;
  }

  .profile-shopping .view-itens{
    width: 300px;
    right: -60px;
  }
}