
.container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /*
  justify-content: flex-end;
  justify-content: center;
  justify-content: space-between;
  */
  justify-content: center;
  background-color: silver;
  height: 2000px;
}

.caixa{
  width: 100px;
  height: 100px;
}

.red{
  background-color: red;
}

.blue{
  background-color: blueviolet;
}

.yellow{
  background-color: yellowgreen;
}

.green{
  background-color: green;
}