<nav class="navbar">
  <ul>
    <li>
      <a href="/" class="link-page">Home</a>
    </li>

    <li>
      <a href="/participantes" class="link-page">Participantes</a>
    </li>

    <li>
      <a href="/curiosidades" class="link-page">Curiosidades sobre o Qatar</a>
    </li>

    <li>
      <a href="/favorito" class="link-page">Favoritos ao título</a>
    </li>

    <li>
      <a href="/contato" class="link-page">Contato</a>
    </li>
    <li>
      <a href="/posts" class="link-page">Posts</a>
    </li>
  </ul>
</nav>