:root{
  --color-primary: #5e34bf;
  --color-secondary: #800185;
  --bg-page: #d9dadb;
  --spacing-paragraph: 30px;
  --padding-button: 10px;
}

body{
  background-color: var(--bg-page);
}

h1{
  color: var(--color-primary);
}

h2,h3{
  color: var(--color-secondary);
}

p{
 color: var(--color-primary);
 margin: var(--spacing);
}

button{
  background-color: var(--color-primary);
  color: #fff;
  padding: var(--padding-button);
}