*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
  font-family: sans-serif;
}

.container{
  display: flex;
  justify-content: space-between;

  .box{
    width: 30%;
    background-color: white;
    color: black;
    border-radius: 8px;
    padding: 15px;

    &.active{
      background-color: red;
    }

    h2{
      font: {
        size: 22px;
        weight: normal;
        family: 'Courier New', sans-serif;
      }

      /*
      margin: {
        left: 200px;
        bottom: 40px;
        right: 0px;
        top: 25px;
      }
      */

      margin: 50px 0px;

      &::after{
        content: '';
        margin: {
          top: 10px;
          left: 0;
          right: 0;
          bottom: 0;
        };
        width: 60px;
        height: 2px;
        background-color: darkblue;
        display: block;
      }
    }

    p{
      font-size: 18px;
      margin:  20px 0 20px 0;
      &.hidden{
        display: none;
      }
    }
    a{
      color: green;
      &:hover{
        color: yellow;
        & + p.hidden{
          display: block;
        }
      } 
    }

  }

}