*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import 'mixins';

.container{
  display: flex;
  gap: 30px;
  padding: 50px;
  flex-wrap: wrap;
  justify-content: center;

  .box{
    width: 500px;
    background-color: #000;
    color: #fff;
    padding: 40px;

    h2{
      margin: 20px 0;
    }

    p{
      margin-bottom: 20px;
    }

    &:first-child ul{
      @include reset-list(50px, 20px, circle, darkred);
    }
  }
}