<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head.ejs') %>
</head>
<body>
  <div class="error">
    <h2>Página não encontrada tente novamente!</h2>
  </div>
</body>
</html>