*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6e6;
}

.container{
  max-width: 1000px;
  margin: 40px auto;
  text-align: center;
  padding: 10px;
}

.title{
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #4228b5;
}

.formIngresso{
  margin-top: 25px;
}

.formIngresso fieldset{
  border: 2px solid #493e78;
  padding: 15px;
}

.formIngresso fieldset legend{
  text-transform: uppercase;
  font-weight: bold;
}

.formIngresso .sexo-usuario{
  display: flex;
  justify-content: left;
  gap: 15px;
}


.formIngresso .sexo-usuario input{
  width: 20px;
}

.formIngresso fieldset:first-child{
  margin-bottom: 30px;
}

.formIngresso label{
  display: block;
  margin: 15px 0;
  color: #493e78;
  font-weight: bold;
  text-align: left;
}

.formIngresso input, .formIngresso button{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}

.formIngresso fieldset > input{
  border: 2px solid #6644fc;
  outline: 0;
  font-size: 17px;
}

.formIngresso fieldset > input:last-child{
  margin-bottom: 20px;
}

.formIngresso button{
  margin-top: 25px;
  text-transform: uppercase;
  background: #6127BC;
  color: #fff;
  font-size: 20px;
  border: 0;
  cursor: pointer;
  width: 50%;
}

.formIngresso button:hover{
  background-image: linear-gradient(to left bottom, #4776e6, #5870e9, #6968eb, #7c5feb, #8e54e9);
}